.col-md-3 {
    /* border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(226, 226, 226); */
    margin-right: 20px;

}
body {
    overflow-x: hidden; /* Hide scrollbars */
  }
.Home {
    /* background-image: radial-gradient(circle 311px at 8.6% 27.9%, rgba(62, 147, 252, 0.57) 12.9%, rgba(239, 183, 192, 0.44) 91.2%); */
    background-color: rgb(226, 226, 226);
    height: 100%;
    width: 100%;
}

content {
    margin-bottom: 5px;

}


.custom-container-margin {
    margin-left: 50px;
    padding-left: 10px;
}

div h6 {
    font-size: '1.2rem';
    margin-bottom: '0.3rem';
    margin-top: "0rem";
    font-weight: bold;
}

div p {
    font-size: '1rem';
    margin-bottom: '0px';
    margin-top: "0rem";
}

.p-2 {
    height: 150px;
}

.box {
    display: flex;
    margin-top: 5px;
    flex-direction: row;
}

@media (max-width: 800px) {
    .box {
      flex-direction: column;
    }
  }

.left-content {
    flex: 0 0 60%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: flex-start;
}

.user-info img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 0px;
}



.list-item {
    width: 80%;
    margin-bottom: 15px;
    margin-top: 5px;
}

.user-info {
    display: flex;
    margin-bottom: 0px;
    align-items: flex-start;
}

.right-content {
    margin-left: 20px;
    flex: 30%;
    right: 0;


}

.topic {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.button {
    background-color: #f1f1f1;
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
    padding: 10px 20px;
    display: block;
    width: auto;
    text-align: left;
}