.welcome{
    font-size: 120px;
    margin-bottom: -60px;
}

.club{
    font-size: 75px;
    margin-left: 15px;
}
@media screen and (max-width:600px){
    .welcome{
        font-size:60px;
        margin-bottom: -20px;
    }
    .club{
        font-size: 40px;
    }
}
.hero{
    background-color: rgb(130, 136, 138);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.text-container {
    max-width: 50%;
    margin-right: 2.5vw;
}

.hero .btn{
    color: white;
    padding: 7px;
    margin-left: 20px;
}



.image-container {
    max-width: 45%;
}

img {
    max-width: 100%;
}

@media screen and (max-width: 1130px) {
    .image-container {
        display: none;
    }
}
