
.form-head1{
    margin: auto;
    margin-top: 30px;
    padding: 5%;
    width: 70%;
    background-color: rgb(226,226,226);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.login-head1{
    padding-bottom: 20px;
    font-size: 2.4rem;
    font-weight: 700;
    font-style:bold;
    
}
.Button1{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(rgb(110, 110, 110), rgb(0, 0, 0));
}

.p1{
    text-align: center
}
.a1{
    color: blue;
}