
.form-head{
    margin: auto;
    padding: 5%;
    width: 30%;
    background-color:#bbb8b8bd;
}
@media screen and (max-width: 820px) {
    .form-head {
      width: 70%;
    }
  }
.login-head{
    padding-bottom: 20px;
    font-size: 35px;
    color: black ;
    font-style:bold;
    
}
.Button{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(rgb(110, 110, 110), rgb(0, 0, 0));
}
.p{
    text-align: center
}
.a{
    color: blue;
}