.blog-post-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.blog-post {
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: rgb(226, 226, 226);
}

.blog-content {
  margin-top: 20px;
}

.blog-content .blog-buttons {
  display: flex;
  justify-content: flex-start;
}

.blog-content button {
  background-image: linear-gradient(rgb(110, 110, 110), rgb(0, 0, 0));
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

.blog-content a {
  color: #333;
  text-decoration: none;
}
